<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ef.golf.mapper.AdvMapper" >
  <resultMap id="BaseResultMap" type="com.ef.golf.pojo.Adv" >
    <id column="aid" property="aid" jdbcType="BIGINT" />
    <result column="acid" property="acid" jdbcType="BIGINT" />
    <result column="atype" property="atype" jdbcType="INTEGER" />
    <result column="begintime" property="begintime" jdbcType="BIGINT" />
    <result column="endtime" property="endtime" jdbcType="BIGINT" />
    <result column="isclose" property="isclose" jdbcType="INTEGER" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="atturl" property="atturl" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="clickcount" property="clickcount" jdbcType="INTEGER" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, acid, atype, begintime, endtime, isclose, attachment, atturl, url, aname, clickcount, 
    linkman, company, contact, disabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from es_adv
    where aid = #{aid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from es_adv
    where aid = #{aid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ef.golf.pojo.Adv" >
    insert into es_adv (aid, acid, atype, 
      begintime, endtime, isclose, 
      attachment, atturl, url, 
      aname, clickcount, linkman, 
      company, contact, disabled
      )
    values (#{aid,jdbcType=BIGINT}, #{acid,jdbcType=BIGINT}, #{atype,jdbcType=INTEGER}, 
      #{begintime,jdbcType=BIGINT}, #{endtime,jdbcType=BIGINT}, #{isclose,jdbcType=INTEGER}, 
      #{attachment,jdbcType=VARCHAR}, #{atturl,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{aname,jdbcType=VARCHAR}, #{clickcount,jdbcType=INTEGER}, #{linkman,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{disabled,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ef.golf.pojo.Adv" >
    insert into es_adv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="acid != null" >
        acid,
      </if>
      <if test="atype != null" >
        atype,
      </if>
      <if test="begintime != null" >
        begintime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="isclose != null" >
        isclose,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="atturl != null" >
        atturl,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="clickcount != null" >
        clickcount,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="acid != null" >
        #{acid,jdbcType=BIGINT},
      </if>
      <if test="atype != null" >
        #{atype,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=BIGINT},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=BIGINT},
      </if>
      <if test="isclose != null" >
        #{isclose,jdbcType=INTEGER},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="atturl != null" >
        #{atturl,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="clickcount != null" >
        #{clickcount,jdbcType=INTEGER},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.golf.pojo.Adv" >
    update es_adv
    <set >
      <if test="acid != null" >
        acid = #{acid,jdbcType=BIGINT},
      </if>
      <if test="atype != null" >
        atype = #{atype,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        begintime = #{begintime,jdbcType=BIGINT},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=BIGINT},
      </if>
      <if test="isclose != null" >
        isclose = #{isclose,jdbcType=INTEGER},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="atturl != null" >
        atturl = #{atturl,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="clickcount != null" >
        clickcount = #{clickcount,jdbcType=INTEGER},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.golf.pojo.Adv" >
    update es_adv
    set acid = #{acid,jdbcType=BIGINT},
      atype = #{atype,jdbcType=INTEGER},
      begintime = #{begintime,jdbcType=BIGINT},
      endtime = #{endtime,jdbcType=BIGINT},
      isclose = #{isclose,jdbcType=INTEGER},
      attachment = #{attachment,jdbcType=VARCHAR},
      atturl = #{atturl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      aname = #{aname,jdbcType=VARCHAR},
      clickcount = #{clickcount,jdbcType=INTEGER},
      linkman = #{linkman,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=BIGINT}
  </update>
  <select id="getList" resultType="com.ef.golf.vo.AdvVo">

    SELECT aid, acid, atype, begintime, endtime, isclose, attachment, atturl, url linkUrl,url, aname, clickcount,
    linkman, company, contact, disabled from es_adv LIMIT 0,4
  </select>
</mapper>