<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.golf.mapper.CalendarMapper">
  <resultMap id="BaseResultMap" type="com.ef.golf.pojo.Calendar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_date" jdbcType="VARCHAR" property="cDate" />
    <result column="c_week" jdbcType="VARCHAR" property="cWeek" />
    <result column="c_status" jdbcType="VARCHAR" property="cStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, c_date, c_week, c_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_calendar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ef_calendar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.golf.pojo.Calendar">
    insert into ef_calendar (id, c_date, c_week, 
      c_status)
    values (#{id,jdbcType=INTEGER}, #{cDate,jdbcType=VARCHAR}, #{cWeek,jdbcType=VARCHAR}, 
      #{cStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ef.golf.pojo.Calendar">
    insert into ef_calendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cDate != null">
        c_date,
      </if>
      <if test="cWeek != null">
        c_week,
      </if>
      <if test="cStatus != null">
        c_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cDate != null">
        #{cDate,jdbcType=VARCHAR},
      </if>
      <if test="cWeek != null">
        #{cWeek,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        #{cStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.golf.pojo.Calendar">
    update ef_calendar
    <set>
      <if test="cDate != null">
        c_date = #{cDate,jdbcType=VARCHAR},
      </if>
      <if test="cWeek != null">
        c_week = #{cWeek,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        c_status = #{cStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.golf.pojo.Calendar">
    update ef_calendar
    set c_date = #{cDate,jdbcType=VARCHAR},
      c_week = #{cWeek,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>