<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ef.golf.mapper.EsProductStoreMapper" >
  <resultMap id="BaseResultMap" type="com.ef.golf.pojo.EsProductStore" >
    <id column="storeid" property="storeid" jdbcType="INTEGER" />
    <result column="goodsid" property="goodsid" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="depotid" property="depotid" jdbcType="INTEGER" />
    <result column="store" property="store" jdbcType="INTEGER" />
    <result column="enable_store" property="enableStore" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    storeid, goodsid, productid, depotid, store, enable_store
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from es_product_store
    where storeid = #{storeid,jdbcType=INTEGER}
  </select>

  <select id="selectAmountByGoodsIdAndDepotId" resultType="java.lang.Integer" >
  select count(0) from es_product_store
  where goodsid=#{goodsid,jdbcType=INTEGER} and depotid=#{depotid,jdbcType=INTEGER}
  </select>


  <select id="selectProductStore" resultType="com.ef.golf.pojo.EsProductStore" >
    select
     storeid, goodsid, productid, depotid, store, enable_store enableStore
    from es_product_store
    where goodsid=#{goodsid,jdbcType=INTEGER} and depotid=#{depotid,jdbcType=INTEGER} and productid=#{productid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from es_product_store
    where storeid = #{storeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.golf.pojo.EsProductStore" >
    insert into es_product_store (storeid, goodsid, productid, 
      depotid, store, enable_store
      )
    values (#{storeid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{depotid,jdbcType=INTEGER}, #{store,jdbcType=INTEGER}, #{enableStore,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ef.golf.pojo.EsProductStore" >
    insert into es_product_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="depotid != null" >
        depotid,
      </if>
      <if test="store != null" >
        store,
      </if>
      <if test="enableStore != null" >
        enable_store,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="depotid != null" >
        #{depotid,jdbcType=INTEGER},
      </if>
      <if test="store != null" >
        #{store,jdbcType=INTEGER},
      </if>
      <if test="enableStore != null" >
        #{enableStore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.golf.pojo.EsProductStore" >
    update es_product_store
    <set >
      <if test="goodsid != null" >
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="depotid != null" >
        depotid = #{depotid,jdbcType=INTEGER},
      </if>
      <if test="store != null" >
        store = #{store,jdbcType=INTEGER},
      </if>
      <if test="enableStore != null" >
        enable_store = #{enableStore,jdbcType=INTEGER},
      </if>
    </set>
    where storeid = #{storeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.golf.pojo.EsProductStore" >
    update es_product_store
    set goodsid = #{goodsid,jdbcType=INTEGER},
      productid = #{productid,jdbcType=INTEGER},
      depotid = #{depotid,jdbcType=INTEGER},
      store = #{store,jdbcType=INTEGER},
      enable_store = #{enableStore,jdbcType=INTEGER}
    where storeid = #{storeid,jdbcType=INTEGER}
  </update>

  <update id="updateEsProductStore" parameterType="java.util.Map">
  update es_product_store set enable_store=enable_store-#{num,jdbcType=INTEGER} where depotid=#{depotid,jdbcType=INTEGER} and productid=#{productid,jdbcType=INTEGER}
  </update>



</mapper>