<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ef.golf.mapper.GoodsDepotMapper" >
  <resultMap id="BaseResultMap" type="com.ef.golf.pojo.GoodsDepot" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsid" property="goodsid" jdbcType="INTEGER" />
    <result column="depotid" property="depotid" jdbcType="INTEGER" />
    <result column="iscmpl" property="iscmpl" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsid, depotid, iscmpl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from es_goods_depot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from es_goods_depot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.golf.pojo.GoodsDepot" >
    insert into es_goods_depot (id, goodsid, depotid, 
      iscmpl)
    values (#{id,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{depotid,jdbcType=INTEGER}, 
      #{iscmpl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ef.golf.pojo.GoodsDepot" >
    insert into es_goods_depot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="depotid != null" >
        depotid,
      </if>
      <if test="iscmpl != null" >
        iscmpl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="depotid != null" >
        #{depotid,jdbcType=INTEGER},
      </if>
      <if test="iscmpl != null" >
        #{iscmpl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.golf.pojo.GoodsDepot" >
    update es_goods_depot
    <set >
      <if test="goodsid != null" >
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="depotid != null" >
        depotid = #{depotid,jdbcType=INTEGER},
      </if>
      <if test="iscmpl != null" >
        iscmpl = #{iscmpl,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.golf.pojo.GoodsDepot" >
    update es_goods_depot
    set goodsid = #{goodsid,jdbcType=INTEGER},
      depotid = #{depotid,jdbcType=INTEGER},
      iscmpl = #{iscmpl,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>