<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.golf.mapper.Qiutong_orderMapper">
  <resultMap id="BaseResultMap" type="com.ef.golf.pojo.Qiutong_order">
    <id column="qiutong_order_id" jdbcType="INTEGER" property="qiutongOrderId" />
    <result column="qiutong_id" jdbcType="INTEGER" property="qiutongId" />
    <result column="qiuHui_id" jdbcType="INTEGER" property="qiuhuiId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="play_date" jdbcType="VARCHAR" property="playDate" />
    <result column="play_time" jdbcType="VARCHAR" property="playTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="play_name" jdbcType="VARCHAR" property="playName" />
    <result column="qiuHui_name" jdbcType="VARCHAR" property="qiuhuiName" />
    <result column="contacts_phone" jdbcType="VARCHAR" property="contactsPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
  </resultMap>
  <sql id="Base_Column_List">
    qiutong_order_id, qiutong_id, qiuHui_id, order_id, play_date, play_time, name, play_name, 
    qiuHui_name, contacts_phone, remark, create_time, modify_time, create_user, modify_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_qiutong_order
    where qiutong_order_id = #{qiutongOrderId,jdbcType=INTEGER}
  </select>

  <select id="getQiuTongOrderDetails" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ef_qiutong_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ef_qiutong_order
    where qiutong_order_id = #{qiutongOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.golf.pojo.Qiutong_order">
    insert into ef_qiutong_order (qiutong_order_id, qiutong_id, qiuHui_id, 
      order_id, play_date, play_time, 
      name, play_name, qiuHui_name, 
      contacts_phone, remark, create_time, 
      modify_time, create_user, modify_user
      )
    values (#{qiutongOrderId,jdbcType=INTEGER}, #{qiutongId,jdbcType=INTEGER}, #{qiuhuiId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{playDate,jdbcType=VARCHAR}, #{playTime,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{playName,jdbcType=VARCHAR}, #{qiuhuiName,jdbcType=VARCHAR}, 
      #{contactsPhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{modifyUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ef.golf.pojo.Qiutong_order">
    insert into ef_qiutong_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qiutongOrderId != null">
        qiutong_order_id,
      </if>
      <if test="qiutongId != null">
        qiutong_id,
      </if>
      <if test="qiuhuiId != null">
        qiuHui_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="playDate != null">
        play_date,
      </if>
      <if test="playTime != null">
        play_time,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="playName != null">
        play_name,
      </if>
      <if test="qiuhuiName != null">
        qiuHui_name,
      </if>
      <if test="contactsPhone != null">
        contacts_phone,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qiutongOrderId != null">
        #{qiutongOrderId,jdbcType=INTEGER},
      </if>
      <if test="qiutongId != null">
        #{qiutongId,jdbcType=INTEGER},
      </if>
      <if test="qiuhuiId != null">
        #{qiuhuiId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="playDate != null">
        #{playDate,jdbcType=VARCHAR},
      </if>
      <if test="playTime != null">
        #{playTime,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="playName != null">
        #{playName,jdbcType=VARCHAR},
      </if>
      <if test="qiuhuiName != null">
        #{qiuhuiName,jdbcType=VARCHAR},
      </if>
      <if test="contactsPhone != null">
        #{contactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.golf.pojo.Qiutong_order">
    update ef_qiutong_order
    <set>
      <if test="qiutongId != null">
        qiutong_id = #{qiutongId,jdbcType=INTEGER},
      </if>
      <if test="qiuhuiId != null">
        qiuHui_id = #{qiuhuiId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="playDate != null">
        play_date = #{playDate,jdbcType=VARCHAR},
      </if>
      <if test="playTime != null">
        play_time = #{playTime,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="playName != null">
        play_name = #{playName,jdbcType=VARCHAR},
      </if>
      <if test="qiuhuiName != null">
        qiuHui_name = #{qiuhuiName,jdbcType=VARCHAR},
      </if>
      <if test="contactsPhone != null">
        contacts_phone = #{contactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where qiutong_order_id = #{qiutongOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.golf.pojo.Qiutong_order">
    update ef_qiutong_order
    set qiutong_id = #{qiutongId,jdbcType=INTEGER},
      qiuHui_id = #{qiuhuiId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      play_date = #{playDate,jdbcType=VARCHAR},
      play_time = #{playTime,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      play_name = #{playName,jdbcType=VARCHAR},
      qiuHui_name = #{qiuhuiName,jdbcType=VARCHAR},
      contacts_phone = #{contactsPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where qiutong_order_id = #{qiutongOrderId,jdbcType=INTEGER}
  </update>
  <!-- 球童订单状态 8.待回应 9.成功预约 11.已完成 10.待评价 13.已取消 12.未接受 -->
  <select id="getQiuTongWorkOrderList" parameterType="com.ef.golf.vo.CaddieWorkOrderVo" resultType="com.ef.golf.vo.CaddieWorkOrderVo">
    SELECT
        eo.order_id orderId,
        eo.order_no orderNo,
    DATE_FORMAT(eo.create_time,'%Y-%m-%d %H:%i:%s') createTime,
        eo.order_state orderState,
        eo.order_type orderType,
        eqo.play_name playName,
        DATE_FORMAT(eqo.play_date,'%Y-%m-%d') playDate,
        eqo.play_time playTime,
        eo.modify_user modifyUser,
        eo.modify_time modifyTime
    FROM
      ef_order eo
    LEFT JOIN ef_qiutong_order eqo ON(eo.order_id = eqo.order_id)
    <where>
      eqo.qiutong_id = #{userId}
      AND eo.is_del = 0
      AND eo.order_type = '3'
      <!-- 球童 -->
      <if test="orderState == '8'.toString()"><!-- 待回应 -->
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
      <if test="orderState == '12'.toString()"><!-- 未接收 -->
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
      <if test="orderState == '9'.toString()"><!-- 成功预约 待评价 已完成 -->
        AND eo.order_state IN (#{orderState,jdbcType=VARCHAR},'10','11')
      </if>
      <if test="orderState == '13'.toString()"><!-- 已取消 -->
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP BY eo.order_id
    ORDER BY eo.modify_time DESC
    LIMIT #{pageNo},#{pageSize}
  </select>

  <select id="CaddieWorkOrderCount"  resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM
    ef_order eo
    LEFT JOIN ef_qiutong_order eqo ON(eo.order_id = eqo.order_id)
    <where>
      eqo.qiutong_id = #{userId}
      AND eo.is_del = 0
      AND eo.order_type = '3'
      <if test="orderState == '8'.toString()">
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
      <if test="orderState == '12'.toString()">
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
      <if test="orderState == '9'.toString()">
        AND eo.order_state IN (#{orderState,jdbcType=VARCHAR},'10','11')
      </if>
      <if test="orderState == '13'.toString()">
        AND eo.order_state = #{orderState,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getDateStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
	  DATEDIFF(eqo.play_date, NOW()) AS DiffDate
    FROM
      ef_qiutong_order eqo
    WHERE eqo.order_id = #{orderId}
  </select>

  <!--球童  订单详情   适应手机端跳转-->
 <select id="getQiuTongOrderDetailsByOrderId" parameterType="java.lang.Integer" resultType="com.ef.golf.vo.QiuTongOrderListVo">
   SELECT
   u.head_portrait_url headPortraitUrl,
   eo.order_id orderId,
   eo.order_no orderNo,
   DATE_FORMAT(eo.create_time,'%Y-%m-%d %H:%i:%s') createTime,
   eo.order_state orderState,
   eo.modify_user modifyUser,
   DATE_FORMAT(eo.modify_time,'%Y-%m-%d %H:%i:%s') modifyTime,
   eqo.qiutong_id qiutongId,
   eqo.name qiuTongName,
   eqo.play_date playDate,
   eqo.play_time playTime,
   eqo.qiuHui_id qiuHuiId,
   CASE WHEN eqo.qiuHui_name is NULL THEN '暂无' ELSE eqo.qiuHui_name END qiuHuiName,
   eqo.play_name playName,
   eqo.contacts_phone contactsPhone,
   et.ticket_name ticketName,
   eqo.remark remark
   FROM
   ef_order eo
   LEFT JOIN ef_qiutong_order eqo ON (eo.order_id = eqo.order_id)
   LEFT JOIN u_user u ON (u.id = eqo.qiutong_id)
   LEFT JOIN ef_ticket et ON(eo.ticket_id = et.ticket_id)
   where
     eo.order_id = #{orderId}
     AND eo.is_del = 0
     AND eo.order_type = '3'
   GROUP BY eo.order_id

 </select>


  <!-- 用户预约球童订单列表 -->
  <select id="getQiuTongOrderList" resultType="com.ef.golf.vo.QiuTongOrderListVo">
    SELECT
        u.head_portrait_url headPortraitUrl,
        eo.order_id orderId,
        eo.order_no orderNo,
    DATE_FORMAT(eo.create_time,'%Y-%m-%d %H:%i:%s') createTime,
        eo.order_state orderState,
        eo.modify_user modifyUser,
    DATE_FORMAT(eo.modify_time,'%Y-%m-%d %H:%i:%s') modifyTime,
        eqo.qiutong_id qiutongId,
        eqo.name qiuTongName,
        eqo.play_date playDate,
        eqo.play_time playTime,
        eqo.qiuHui_id qiuHuiId,
        CASE WHEN eqo.qiuHui_name is NULL THEN '暂无' ELSE eqo.qiuHui_name END qiuHuiName,
        eqo.play_name playName,
		eqo.contacts_phone contactsPhone,
        et.ticket_name ticketName,
		eqo.remark remark
    FROM
        ef_order eo
    LEFT JOIN ef_qiutong_order eqo ON (eo.order_id = eqo.order_id)
    LEFT JOIN u_user u ON (u.id = eqo.qiutong_id)
    LEFT JOIN ef_ticket et ON(eo.ticket_id = et.ticket_id)
    <where>
        eo.create_user = #{createUser}
    AND eo.is_del = 0
    AND eo.order_type = '3'
      <if test="orderState == '9'.toString()">
        AND eo.order_state IN (9,11)
      </if>
    <if test="orderState != '9'.toString()">
       AND eo.order_state = #{orderState}
    </if>
    </where>
    GROUP BY eo.order_id
    ORDER BY eo.create_time DESC
    LIMIT #{pageNo},#{pageSize}
  </select>
  <select id="getQiuTongOrderListCount" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM
    ef_order eo
    LEFT JOIN ef_qiutong_order eqo ON (eo.order_id = eqo.order_id)
    <!--LEFT JOIN u_user u ON (u.id = eqo.qiutong_id)
    LEFT JOIN ef_ticket et ON(eo.ticket_id = et.ticket_id)-->
    <where>
      eo.create_user = #{createUser}
      AND eo.is_del = 0
      AND eo.order_type = '3'
      <if test="orderState == '9'.toString()">
        AND eo.order_state IN (9,11)
      </if>
      <if test="orderState != '9'.toString()">
        AND eo.order_state = #{orderState}
      </if>
    </where>
    ORDER BY eo.create_time DESC
  </select>
</mapper>