<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ef.golf.mapper.TuiHuoAddressMapper" >





  <select id="selectTuiHuoAddress" resultType="com.ef.golf.pojo.TuiHuoAddress">
    <!--
    id
shouHuoRenName
shuoHuoRenPhone
shouHuoProvince
shuoHuoCity
shuoHuoRegion
shuoHuoAddr

    -->
    select
      id,shouHuoRenName name,shuoHuoRenPhone mobile, shouHuoProvince province,shuoHuoCity city,
    shuoHuoRegion region,shuoHuoAddr addr
    from ef_tuihuoaddress



  </select>
</mapper>